/**** jaune foncé #edb633 ****/
/**** jeune clair #ffcc33 ****/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/**** button style ****/

form.btn_style a {
    background-color: #ffcc33;
    padding: 10px 15px;
    border: none;
    border-radius: 13px;
}

form:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

form.btn_style a {
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


/**** header ****/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}


.logo img {
    padding: 30px 30px;
}

.logo img:hover {
    opacity: 0.6;
    transition: 0.5s;
}

nav.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px;
    font-size: 14px;
    font-weight: 400;
}

nav.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
}

nav.navbar ul li a {
    margin-right: 40px;
    color: rgb(0, 0, 0);
}

nav.navbar ul li a:hover {
    color: #edb633;
    transition: 0.3s;
}


/**** article ****/

article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_left img {
    max-width: 700px;
    width: auto;
}

.content_right {
    margin-left: 40px;
}

h1 {
    font-size: 70px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #edb633;
    margin-top: -5px;
}

.content_right p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

#illu_1 {
    width: 250px;
}

.contact_support {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_support img {
    width: 12px;
}

.navbar_article {
    margin-left: 20px;
}

.contact_support ul {    
    padding-left: 0px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact_support ul li a {    
    color: #edb633;
    font-size: 14px;
    line-height: 30px;
    margin-left: 6px;
}

.contact_support ul li a:hover {    
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: 0.3s;
}

/**** footer ****/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

footer p a {
    font-size: 12px;
    color: rgb(0, 0, 0);
}

footer p a:hover {
    text-decoration: underline;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
}

footer ul li a {
    margin-right: 15px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

footer ul li a img {
    width: 18px;
}

footer ul li a img:hover {
    transform: scale(1.5);
    transition: all .2s ease-in-out;
}

footer ul .socialmedia a {
    margin-right: 10px;
}

footer ul .link {
    padding-left: 30px;
}

footer ul li a:hover {   
    color: #edb633;
    text-decoration: underline;
    transition: 0.3s;
}

@media screen and (max-width: 1250px) {
    article {
       display: block;
       width: 100%;
    }
    .img_left {
        display: flex;
        justify-content: center;
    }
    .img_left img {
        max-width: 60%;
    }
    header {
        justify-content: center;
    }
    .content_right {
        margin: 0px 50px;
        text-align: center;
    }
    .contact_support {
        display: block;
    }
    footer {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 630px) {
    .logo {
        padding: 0px 15px;
    }
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        padding: 20px 0px;
    }
    nav.navbar {
        display: flex;
        padding: 0px 15px;
    }
    nav.navbar ul li {
        margin: 10px;
        text-align: center;
    }
    nav.navbar ul li a {
        margin: 0px ;
    }
    nav.navbar form.btn_style {
        margin: 30px 0px;
        z-index: 3;
    }
    .img_left img {
        max-width: 80%;
    }
    article form.btn_style {
        margin-bottom: 40px;
        z-index: 3;
    }
    #illu_1 {
        max-width: 100%;
    }
    footer ul li {
        margin: 10px 20px;
    }
    footer ul li a {
        margin: 0px;
    }
    footer ul.link {
        padding: 0px 15px;
    }
    footer p {
        margin-top: 20px;
    }
}